<html>
<head>
<style type="text/css">
    @page {
        size: ;
        margin: 1cm;
        @frame footer {
                -pdf-frame-content: footerblock;
                bottom: 1cm;
                margin-left: 1cm;
                margin-right: 1cm;
             margin-top: 1cm;
                height: 1cm;
        }
    }
</style>
</head>
<body>
<div>
    {% for voluntario in lista_voluntarios %}
        <h2>{{ voluntario.0 }}</h2>
        <h3>Registro mensual</h3>
        {% for entrada in voluntario.1.0 %}
        <p>
            {{ entrada.fecha }}
            ,
            {{ entrada.horas }}
            ,
            {{ entrada.voluntario.institucion.nombre }}
            ,
            {{ entrada.proyecto.titulo }}
        </p>
        {% endfor %}
        <b>Total:</b> {{ voluntario.1.1 }}
    {% endfor %}
</div>
<div id="footerblock">
    <pdf:pagenumber>
</div>
</body>
</html>